body {
  padding: 0;
  margin: 5px 5px 0px 5px;
}

.container-table {
  width: 500px;
}

.App {
  text-align: center;
}

footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.87);
  margin-top: auto;
}

footer a {
  color: rgb(200, 84, 84);
}
